In [1]:
pwd

'/Users/matiasbenedetto/Documents/6to año/Ciencia de datos/Ej clase 8'

In [2]:
ls

Ej_Clase_08.ipynb           X_test.csv
Entrega_Ejercicio_08.ipynb  Xy_train.csv

In [3]:
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn.svm import LinearSVR
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import GridSearchCV
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import Image

In [4]:
xy_train = pd.read_csv(r'Xy_train.csv', delimiter=',', parse_dates = True)
xy_train

           X          y
0   2.273360   6.054685
1   3.167583   4.581428
2   7.973655   5.392507
3   6.762547   3.108068
4   3.911096   4.225744
..       ...        ...
95  3.787495   5.133706
96  2.759471   4.308327
97  9.661041  11.923565
98  0.582026   1.335725
99  4.087339   5.641851

[100 rows x 2 columns]

In [5]:
x_test = pd.read_csv(r'x_test.csv', delimiter=',', parse_dates = True)
x_test

           X
0   6.170800
1   6.302022
2   8.689293
3   2.376897
4   2.707320
5   6.555949
6   8.492565
7   0.111064
8   9.121449
9   2.675377
10  3.242831
11  6.416299
12  9.158768
13  0.659650
14  4.682379
15  8.109528
16  4.961968
17  6.013856
18  7.149417
19  6.279854

In [6]:
xtest=pd.DataFrame(x_test.X)
xtest

           X
0   6.170800
1   6.302022
2   8.689293
3   2.376897
4   2.707320
5   6.555949
6   8.492565
7   0.111064
8   9.121449
9   2.675377
10  3.242831
11  6.416299
12  9.158768
13  0.659650
14  4.682379
15  8.109528
16  4.961968
17  6.013856
18  7.149417
19  6.279854

In [7]:
xy_train.shape

(100, 2)

In [9]:
xtrain=pd.DataFrame(xy_train.X)
xtrain

           X
0   2.273360
1   3.167583
2   7.973655
3   6.762547
4   3.911096
..       ...
95  3.787495
96  2.759471
97  9.661041
98  0.582026
99  4.087339

[100 rows x 1 columns]

In [10]:
ytrain=pd.DataFrame(xy_train.y)
ytrain

            y
0    6.054685
1    4.581428
2    5.392507
3    3.108068
4    4.225744
..        ...
95   5.133706
96   4.308327
97  11.923565
98   1.335725
99   5.641851

[100 rows x 1 columns]

In [11]:
scaler = preprocessing.StandardScaler().fit(xtrain)
scaler

StandardScaler(copy=True, with_mean=True, with_std=True)

In [12]:
# auto scalo mis muestras de train utilizando el scaler fiteado con el xtrain
xtrain_scal = scaler.transform(xtrain)

In [13]:
# auto scalo mis muestras de test utilizando el scaler fiteado con el xtest
xtest_scal = scaler.transform(xtest)

In [14]:
est = SVR(max_iter=25000)
parameters_svr_rbf = {'kernel':['linear', 'rbf'] , 'C': [1,500,1000,2000,3000,5000,10000],'gamma': [0.02,0.08,0.1,0.15]}
gs = GridSearchCV(est, param_grid=parameters_svr_rbf,refit=True,
                  cv=5, scoring="neg_mean_squared_error",
                  verbose=3, n_jobs=3)

In [15]:
# Entrenamos
gs.fit(xtrain_scal, ytrain)

Fitting 5 folds for each of 56 candidates, totalling 280 fits

[Parallel(n_jobs=3)]: Using backend LokyBackend with 3 concurrent workers.
[Parallel(n_jobs=3)]: Done  28 tasks      | elapsed:    3.0s
[Parallel(n_jobs=3)]: Done 280 out of 280 | elapsed:    4.0s finished
/opt/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GridSearchCV(cv=5, error_score=nan,
             estimator=SVR(C=1.0, cache_size=200, coef0=0.0, degree=3,
                           epsilon=0.1, gamma='scale', kernel='rbf',
                           max_iter=25000, shrinking=True, tol=0.001,
                           verbose=False),
             iid='deprecated', n_jobs=3,
             param_grid={'C': [1, 500, 1000, 2000, 3000, 5000, 10000],
                         'gamma': [0.02, 0.08, 0.1, 0.15],
                         'kernel': ['linear', 'rbf']},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='neg_mean_squared_error', verbose=3)

In [16]:
print(gs.best_estimator_, "\n")

SVR(C=500, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma=0.08,
    kernel='rbf', max_iter=25000, shrinking=True, tol=0.001, verbose=False)

In [17]:
svr_prediction = gs.best_estimator_.predict(xtest_scal)

In [18]:
svr_prediction

array([3.41686666, 3.42550812, 7.69738701, 5.03182815, 5.16769399,
       3.49584884, 7.00703095, 0.29254454, 9.43455111, 5.15982215,
       5.15028049, 3.44808096, 9.59850138, 2.07814168, 4.20662038,
       5.84590223, 3.9808477 , 3.42916425, 3.97484935, 3.42278044])

In [20]:
np.around(svr_prediction, decimals=2, out=None)

array([3.42, 3.43, 7.7 , 5.03, 5.17, 3.5 , 7.01, 0.29, 9.43, 5.16, 5.15,
       3.45, 9.6 , 2.08, 4.21, 5.85, 3.98, 3.43, 3.97, 3.42])